@import "reset", "fonts", "variables/globals";
@import "themes/blue", "themes/green";

body {
  font: var(--font-m);
  color: var(--primary-color);
  background: var(--bg-color);
}

.main {
  display: flex;
}
