.switchers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.sidebar {
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary-color);
  padding: 24px;
  transition: width 0.3s;

  &.opened {
    width: var(--sidebar-width-opened);

    & .switchers {
      flex-direction: row;
    }
  }
}
