@font-face {
  font-family: "Consolas";
  font-style: normal;
  font-weight: 400;
  src: local("Consolas"), url("../assets/fonts/Consolas.woff2") format("woff2"), url("../assets/fonts/Consolas.woff") format("woff");
}