.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.icon {
  width: 24px;
  height: 24px;
}

.icon path {
  fill: var(--primary-color);
}
