.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.title {
  font-size: 32px;
}

.action {
  padding: 4px 16px;
}
